.form-login {
	border: 2px solid black;
	padding: 10px;
	margin: 150px 500px;
	display: inline-block;
	border-radius: 3px; 
}

.form-login h2 {
	text-align: center;
	font-size: 30px;
}

.form-register {
	border: 2px solid black;
	padding: 10px;
	margin: 150px 500px;
	display: inline-block;
	border-radius: 3px; 
}

.form-register h2 {
	text-align: center;
	font-size: 30px;
}

.head {
	margin-left: 449px;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	margin-left: 440px;
	padding: 0;
}

.nav li {
	display: inline;
	padding: 8px;
}

.body {
	text-align: center;
	margin-top: 80px;
	background-color: purple;
	padding: 50px;
	margin-left: 300px;
	margin-right: 300px; 
}

.urut {
	background-color: lightgreen;
	padding: 1px;
	margin: 10px 400px 0 400px;
	border-radius: 3px;
	text-align: center;
}

.urut button {
	background-color: cyan;
	border-radius: 4px;
	border: none;
}

.tbl-catatan {
	width: 100%;
	margin-top: 40px; 
}

.tbl-catatan table {
	margin: auto;
}

.form form {
	max-width: 100%;
	border: 2px solid black;
	padding: 10px;
	margin-top: 30px;
	margin-left: 460px;
	display: inline-block;
	border-radius: 10px;
}

.row input {
	width: 100%;
	margin: 10px 0;
	display: inline-block;
	box-sizing: border-box;
}

.btn-input {
	display: flex;
	justify-content: space-between;
	margin-top: 10px; 
}